<div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">{{curso.sigla}}</div>
    <div class="card-body">
        <h4 class="card-title">{{curso.nome}}</h4>
        <p class="card-text">{{curso.descricao}}</p>
        <b>Área: </b>{{curso.Area.nome}}
    </div>
</div>