<!DOCTYPE html>
<html>
<head>
<title>Express + HBS!</title>
</head>
<body>

<div class="container">
<h1>O Jogo de Xadrez</h1>
<p>
    O xadrez é um jogo de tabuleiro, de caráter competitivo, disputado entre dois participantes. Cada um é representado por peças de cores opostas, geralmente são utilizadas pretas e brancas. O objetivo do jogo é conquistar o "rei" de seu adversário. 
</p>

<img src="../../public/img/chess.jpg" alt="Peças do jogo de xadrez">

<p>
    Para jogar, é necessário um tabuleiro composto por oito colunas e oito linhas, o que resulta em 64 casas possíveis para a mobilidade das peças. As peças são compostas de oito peões, duas torres, dois cavalos, dois bispos, uma rainha e um rei.
</p>
</div>
</body>
</html>