<h2>Sobre o jogo</h2>

<img src="img/dino.jpg" alt="imagem do tiranossauro do jogo">

<p>T-Rex Game é um jogo integrado ao navegador Google Chrome que aparece quando o usuário estiver offline. Nele há um tiranossauro e, pressionando a barra de espaço, inicia-se o jogo. O T-Rex Game é jogado 270 milhões de vezes mensalmente.</p>

<p>Durante o jogo, o T-Rex se move continuamente em uma paisagem deserta, e o jogador tenta evitar os obstáculos que se aproximam, como cactos e pterodáctilps, pulando ou agachando-se.</p>

<a href="/game" class="button">Jogar</a>